{% extends 'base.html' %}
{% load static %}
{% load sports_tags %} <!-- Загружаем наши теги -->

{% block content %}
    <!-- Match overview Section -->
    <section id="contact" class="contact section">

      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <h1>Обзор матчей</h1>
        <p>Сегодня: {{ matches.0.date_time|date:"d M Y" }}</p>
        <p>Статус первого матча: {{ matches.0.get_status_display|upper }}</p>
        <div class="row gy-4">
            {% for match in matches %}
              <div>
                <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="300">
                  <i class="bi bi-geo-alt flex-shrink-0"></i>
                  <div>
                    <h3>{{ match.home_team }} vs {{ match.away_team }} - {{ match.get_status_display }}</h3>
                    <p>{{ match.date_time }} (Всего голов: {% count_stats match.score_home match.score_away %})</p>
                  </div>
                </div><!-- End Info Item -->
            {% endfor %}

          </div>

        </div>

      </div>

    </section><!-- /Match overview Section -->

    <!-- News Section -->
    <section id="trending-category" class="trending-category section">
        <div class="container" data-aos="fade-up" data-aos-delay="100">
            <h1>Свежие новости</h1>
            {% show_latest_news 5 %}
        </div>
    </section><!-- /News Section -->

    <!-- Виджет турниров -->
    <div class="recent-posts-widget widget-item">
        {% show_active_tournaments 5 %}
    </div><!-- /Виджет турниров -->


{% endblock %}